* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  color: #28542d;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}

.password_container {
  min-width: 22rem;
  background-color: #5ba8a0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.password_header {
  padding: 1rem;
}

.password {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  display: flex;
  overflow: auto;
  font-size: 1.7rem;
  position: relative;
  align-items: center;
  background-color: #a9dbae;
}

.password button {
  top: 0;
  right: 0;
  opacity: 0;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
  color: #4ca155;
  font-weight: bold;
  position: absolute;
  background-color: #415443;
  transform: translate(0, 20%);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.password:hover button {
  opacity: 1;
  transform: translate(0, 0%);
}

.passwor_-body {
  padding: 0 1rem 1rem;
}

.form_control {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.75rem 0;
  padding-left: 1rem;
  justify-content: space-between;
}

.generate {
  background-color: #415443;
  border: none;
  color: #4ca155;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.75rem;
  margin-top: 1rem;
  width: 100%;
}
